<div class="panel-signin">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2><%= title %></h2>
    </div>
    <div class="panel-body">
      <% if @opportunity.errors.any? %>
        <div class="alert alert-danger" role="alert">
          <h4><strong>Errors:</strong></h4>
            <ul>
              <% @opportunity.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
        </div>
      <% end %>
      <br />
      <%= form_for @opportunity, url: path_variable do |f| %>
        <div class="field form-group">
          <%= f.label :title %><br />
          <%= f.text_field :title, autofocus: true, :class => "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label :description %><br />
          <%= f.text_field :description, :class => "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label :opportunity_type %><br />
          <%= f.select(:opportunity_type, ['Event', 'Workshop', 'Course'], {}, { :class => 'form-control' }) %>
        </div>
        <div class="field form-group">
          <%= f.label :start_date %><br />
          <%= f.date_field :startdate, :class => "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label :duration %><br />
          <%= f.text_field :duration, :class => "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label :location %><br />
          <%= f.text_field :location, :class => "form-control" %>
        </div>
        <div class="field form-group">
          <%= f.label :opportnity_picture %>
          <%= f.file_field :pic %>
        </div>
        <div class="actions">
          <%= f.submit submit_variable, :class => "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
