<div class="row">
    <% @opportunities.each { |opportunity| %>

        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <%= link_to(opportunity_path(opportunity.id)) do %>
              <% if opportunity.pic.url != "" %>
                <div class="opportunity-background" style="background-image: url(<%= opportunity.pic.url %>);"></div>
              <% else %>
                <div class="opportunity-background background-image-default"></div>
              <% end %>
            <% end %>
            <div class="caption">
              <h5><%= opportunity.startdate.strftime("%d / %B")  %></h5>
              <%= link_to(opportunity_path(opportunity.id)) do %>
                <h4 class="media-heading"><%= opportunity.title %></h4>
              <% end %>
              <%= opportunity.opportunity_type %>
              <h6> by <%= opportunity.user.name %></h6>
            </div>
          </div>
        </div>

    <% } %>
</div>
