<ul class="media-list">
  <% opportunities.each { |opportunity| %>

    <li class="media">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="media-left">
            <%= link_to(opportunity_path(opportunity.id)) do %>
              <% if opportunity.pic.url != "" %>
                <%= image_tag(opportunity.pic.url, class: "media-object") %>
              <% else %>
                <%= image_tag("opportunity_default.jpg", class: "media-object") %>
              <% end %>
            <% end %>
          </div>
          <div class="media-body">
            <h5><%= opportunity.startdate.strftime("%d / %B")  %></h5>
            <%= link_to(opportunity_path(opportunity.id)) do %>
              <h4 class="media-heading"><%= opportunity.title %></h4>
            <% end %>
            <%= opportunity.opportunity_type %>
            <h6> by <%= opportunity.user.name %></h6>
          </div>
        </div>
        <div class="panel-footer">
          <%if button == "publish"%>
            <%if current_user.role == "Curator";%><%= link_to "Publish", publish_path(opportunity.id), class: "btn btn-success" %><% end %>
          <%elsif button == "unpublish"%>
            <%= link_to "Unpublish", unpublish_path(opportunity.id), class: "btn btn-warning" %>
          <% end %>
          <%= link_to "Edit", edit_opportunity_path(opportunity.id), class: "btn btn-warning" %>
          <%= link_to "Delete", opportunity_path(opportunity.id), :method => "DELETE", class: "btn btn-danger" %>
        </div>
      </div>
    </li>
  <% } %>
</ul>
