<div class="container">
  <nav class="navbar navbar-default home-navbar">
    <div class="container-fluid">
      <%= form_tag(home_path, :method => "get", id: "search-form", class: "navbar-form navbar-left") do %>
        <div class="form-group">
          <%= text_field_tag :search, params[:search], placeholder: "Search opportunities", class:"form-control" %>
        </div>
        <%= submit_tag "Search", class: "btn btn-info" %>
      <% end %>
    </div>
  </nav>

    <% if @opportunities.present? %>

      <%= render "partials/opportunities_thumbnails" %>

    <% else %>
      <% if params[:search] %>
        <p>There are no posts containing the term(s) <%= params[:search] %>.</p>
      <% end %>
    <% end %>

</div>
