<!DOCTYPE html>
<html>
<head>
  <title>Univercity</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="<%=params[:controller]%> <%=params[:action]%>">
  <nav class="navbar navbar-default navabar-header">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand"><span class="black_span">Univer</span><span class="red_span">City</span></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><%= link_to "Find Opportunity", home_path %></li>
          <li><%= link_to "Create Opportunity", new_opportunity_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <%unless user_signed_in?%>
            <li><%= link_to "Log in", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
          <%if user_signed_in?%>
            <%if current_user.role == "Curator";%><li class="active"><a href="#"><span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> Curator <span class="sr-only">(current)</span></a></li><% end %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= if_current_user_name %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><%= link_to "My Opportunities", opportunities_path %></li>
                  <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
                </ul>
            </li>
          <% end %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
  <%if params[:action] == "home" %>
    <div class="home_background">
      <div class="jumbotron jumbotron_home">
        <div class="container container_home">
          <h1>Univer<span class="red_span">City</span> is:</h1>
          <p><span class="home-text">Developing your skills in the city.</span></p>
          <div class="home-text"><p>Look for courses, workshops and events in Barcelona.</p></div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert alert-info" role="alert">
        <p><%= value %></p>
      </div>
    <% end %>
  </div>

  <%= yield %>

</body>
</html>
